<!doctype html>

<html lang="en">

<%- include("head") %>

<body>


    <div class="container col-12 col-lg-5 align-middle mx-auto" id="container">
        <h1 class="font-weight-light display-1">Bee Movie Bot</h1>
        <h1>404</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    
    <script>
    </script>

</body>
</html>